#to-do-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid black;
  width: 20%;
}

#to-do-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#to-do-list li:last-child {
  border-bottom: none;
}

#to-do-list li.completed {
  text-decoration: line-through;
}
